
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>Document</title>
</head>
<body>


    <header>
        <a class="logo" href="/">NET</a>
    
        <ul class="navBar">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/authors/new">Add Director</a></li>
            <li class="nav-link"><a href="/authors">Director</a></li>
            <li class="nav-link"><a href="/movies">Movies</a></li>
            <li class="nav-link"><a href="/movies/new">Add Movie</a></li>
        </ul>
    
    
        <div class="menu" id="menu-icon"> 
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </header>

  





    
</body>
</html>