<header>
    <nav>
        <a href="/">Net</a>
        <ul>
            <li><a href="/authors">Director</a></li>
            <li><a href="/authors/new">Add Director</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/movies/new">Add Movie</a></li>
        </ul>

    </nav>

</header>