h2.title-holder {
    font-size: 40px;
    font-weight: 500;
    color: #333; 
    font-style: italic;
}
.author-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
   
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.movie-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 15px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    text-align: center;
}
.movie-item:hover {
    transform: translateY(-18px);
}

.movie-item img {
    padding-top: 20px;
    width: 70%;
    height: auto;
    justify-content: center;
    text-align: center;

}
