

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/shared/main8.css">
    <link rel="stylesheet" href="/public/stylesheets/shared/footer.css">
    <link rel="stylesheet" href="/public/stylesheets/shared/api.css">
    <link rel="stylesheet" href="/public/safe/symbol.css" />

    <title>Document</title>
</head>
<body>

    <div class="main-content">

        <div class="ani">
            <div class="photoG">
                <div class="picP">
                    <img src ="/public/images/movie1.PNG" height="780px" width="600px" >
                </div>
                <div class="picP">
                    <img src ="/public/images/movie3.PNG" height="780px" width="600px">
                </div>
            </div>
    
            <div class="photoG2">
                <div class="picP2">
                    <img src ="/public/images/movie2.PNG" height="780px" width="600px" >
                </div>
                <div class="picP2">
                    <img src ="/public/images/movie7.PNG" height="780px" width="600px">
                </div>
            </div>
    
            <div class="photoG3">
                <div class="picP3">
                    <img src ="/public/images/movie4.PNG" height="780px" width="600px" >
                </div>
                <div class="picP3">
                    <img src ="/public/images/movie5.PNG" height="780px" width="600px">
                </div>
            </div>
        </div>

        <div class="picContainer">
            <div class="text-overlay" id="textOverlay1">
                <h1><span id="2">NET </span></h1>
                <h1><span id="3">Movie Watcher Tracker</span></h1>
                <p>Mеперь купи это сейчас Mеперь купи это сейча(update patch 1.2332 V2) </p>
                <button id="textB">возьми(info)</button>
            </div>
        </div>
        
        



        <div class="container">
            <h1 class="title-holder">Welcome!</h1>
        
            <h2 class="title-holder">Recent Added Movies:</h2>
        
            <div class="movie-grid">
                <% movies.forEach(movie => { %>
                    <div class="movie-item">
                        <a href="/movies/<%= movie.id %>">
                            <img src="<%= movie.coverImagePath %>" alt="<%= movie.title %>">
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>



        <div class="container-trend">
           
        
            <h2 class="title-holder2">Recommended Based Of Your Movies: </h2>
        
            <div class="movie-grid">
                <div class="movie-item3">

                    <div class="custom-gallery">
                        <div class="custom-gallery-container">
                            <div class="custom-gallery-item">
                                <img src="/public/images/ac1.PNG" alt="Image 1">
                                <h3>Movie 1</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/ac2.PNG" alt="Image 2">
                                <h3>Movie 2</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/ac3.PNG" alt="Image 3">
                                <h3>Movie 3</h3>
                            </div>
                           
                        </div>
                        <h3 class="CAT">Action</h3>
                    </div>
                </div>


                <div class="movie-item3">

                    <div class="custom-gallery">
                        <div class="custom-gallery-container">
                            <div class="custom-gallery-item">
                                <img src="/public/images/rome1.PNG" alt="Image 1">
                                <h3>Movie 1</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/rome2.PNG" alt="Image 2">
                                <h3>Movie 2</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/rome3.PNG" alt="Image 3">
                                <h3>Movie 3</h3>
                            </div>
                           
                        </div>
                        <h3 class="CAT">Romance</h3>
                    </div>
                </div>

                <div class="movie-item3">

                    <div class="custom-gallery">
                        <div class="custom-gallery-container">
                            <div class="custom-gallery-item">
                                <img src="/public/images/come1.PNG" alt="Image 1">
                                <h3>Movie 1</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/come2.PNG" alt="Image 2">
                                <h3>Movie 2</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/come3.PNG" alt="Image 3">
                                <h3>Movie 3</h3>
                            </div>
                           
                        </div>
                        <h3 class="CAT">Comedy</h3>
                    </div>
                </div>

                <div class="movie-item3">

                    <div class="custom-gallery">
                        <div class="custom-gallery-container">
                            <div class="custom-gallery-item">
                                <img src="/public/images/kid1.PNG" alt="Image 1">
                                <h3>Movie 1</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/kid2.PNG" alt="Image 2">
                                <h3>Movie 2</h3>
                            </div>
                            <div class="custom-gallery-item">
                                <img src="/public/images/kid3.PNG" alt="Image 3">
                                <h3>Movie 3</h3>
                            </div>
                           
                        </div>
                        <h3 class="CAT">Kid Shows</h3>
                    </div>
                </div>

            </div>
        </div>


        <div class="container-trend">
           
        
            <h2 class="title-holder2">Trending Directors: </h2>
        
            <div class="movie-grid">
                <div class="movie-item3">
                    <img src ="/public/images/d1.PNG" height="20px" width="20px" >
                    <h3 class="CAT">holder</h3>
                </div>
                <div class="movie-item3">
                    <img src ="/public/images/d2.PNG" height="380px" width="300px">
                    <h3 class="CAT">holder</h3>
                </div>
                <div class="movie-item3">
                    <img src ="/public/images/d3.PNG" height="380px" width="300px" >
                    <h3 class="CAT">holder</h3>
                </div>
                <div class="movie-item3">
                    <img src ="/public/images/d4.PNG" height="380px" width="300px">
                    <h3 class="CAT">holder</h3>
                </div>
            </div>
        </div>


        
 

        
        <div class="container-trend">

            <h3 class="title-holder2">Now Trending Movies:</h3>
            
        
            <main id="main"></main>
        </div>








        
        <div class="container-trend">
            <h3 class="title-holder2">Social Media Cred:</h3>
            <div class="counter-container">
                <i class="fab fa-twitter fa-3x"></i>
                <div class="counter" data-target="12000"></div>
                <span>Twitter Followers</span>
              </div>
          
              <div class="counter-container">
                <i class="fab fa-youtube fa-3x"></i>
                <div class="counter" data-target="5000"></div>
                <span>YouTube Subscribers</span>
              </div>
          
              <div class="counter-container">
                <i class="fab fa-facebook fa-3x"></i>
                <div class="counter" data-target="7500"></div>
                <span>Facebook Fans</span>
              </div>
              <script src="/public/safe/counter.js"></script>

              <div class="kinetic"></div>
        </div>





        <br>
        <br>

        <h1>Frequently Asked Questions:</h1>

    <div class="faq-container">

        <div class="faq active">
            <h3 class="faq-title">
                Why should we trust the NET company?
            </h3>

            <p class="faq-answer">
                We have many good reviews under our belt and don't plan on 
                loosing loyal costumers.
            </p>

            <button class="faq-toggle">
                <i class = "fas fa-chevron-down"></i>
                <i class = "fas fa-times"></i>
            </button>
        </div>


        <div class="faq">
            <h3 class="faq-title">
                How good is the site?
            </h3>

            <p class="faq-answer">
               pretty shit.
            </p>

            <button class="faq-toggle">
                <i class = "fas fa-chevron-down"></i>
                <i class = "fas fa-times"></i>
            </button>
        </div>



        

        <div class="faq">
            <h3 class="faq-title">
                Why sleep?
            </h3>

            <p class="faq-answer">
                no.
            </p>

            <button class="faq-toggle">
                <i class = "fas fa-chevron-down"></i>
                <i class = "fas fa-times"></i>
            </button>
        </div>

        <div class="faq">
            <h3 class="faq-title">
                Why SLEEP?
            </h3>

            <p class="faq-answer">
               yes.
            </p>

            <button class="faq-toggle">
                <i class = "fas fa-chevron-down"></i>
                <i class = "fas fa-times"></i>
            </button>
        </div>


        <div class="faq">
            <h3 class="faq-title">
                Why ;?
            </h3>

            <p class="faq-answer">
               dsdsd.
            </p>

            <button class="faq-toggle">
                <i class = "fas fa-chevron-down"></i>
                <i class = "fas fa-times"></i>
            </button>
        </div>

    </div>



        
       
        
     
       

        




    </div>

    <script src="/public/safe/api.js"></script>

   





    



   
    <br>
    

    <footer class="footer">
        <div class="fcontainer">
            <div class="row">
                <div class="footer-col">
                    <h4>Comp</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">Payment privacy</a></li>
                        <li><a href="#">ijff</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>help</h4>
                    <ul>
                        <li><a href="#">Customer Service </a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Donation</a></li>
                        <li><a href="#">Tracker</a></li>
                        <li><a href="#">QNA</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>online survey</h4>
                    <ul>
                        <li><a href="#">sdsd</a></li>
                        <li><a href="#">sdsd</a></li>
                        <li><a href="#">sdsdd</a></li>
                        <li><a href="#">ddss</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>By: Victor Martinez</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>


   



   


<script src="/public/safe/main.js"></script>
<script src="/public/safe/setInterval.js"></script>





    
</body>
</html>