
<h2 class="title-holder">Edit Movie: </h2>

<!--
    Here we will put our get route to work using form
-->
<form action="/movies/<%=movie.id%>?_method=PUT" method="POST" >
    <%- include('_form_fields') %>
    <a href="/movies">Cancel</a>
    <button type="submit">Modify</button>
</form>