<h2 class="title-holder">Search your Movie library.....</h2>

<!--Now we will be using the method GET in the form 
due to the fact that we will be asking for the author the user has 
entered-->

<form action="/movies" method="GET">
    <div class="form-format">
        <div class="form-item">
            <label>Title: </label>
            <input type="text" name="title" value="<%= searchF.title %>">
        </div>
    </div>

    <div class="form-format">
        <div class="form-item">
            <label>Release Date: </label>
            <input type="date" name="releaseDate" value="<%= searchF.releaseDate %>">
        </div>
    </div>

    <div class="form-format">
        <div class="form-item">
            <button class="btn" type="submit">Search</button>
        </div>
    </div>
</form>

<br>
<br>

<!--
    This will allow me to display each author the user has searched for 
    on the page of authors 
-->
<div>
    <% movies.forEach(movie => { %>
        <a href="/movies/<%= movie.id %>">
        <img height="300" width="200" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %>
</div>
