<h2 class="title-holder">Search your Movie library.....</h2>

<!--Now we will be using the method GET in the form 
due to the fact that we will be asking for the author the user has 
entered-->

<form action="/movies" method="GET">

    <div>
        <label>Title: </label>
        <input type="text" name="title" value="<%= searchF.title %>">
    </div>

    <div>
        <label>Release Date: </label>
        <input type="date" name="releaseDate" value="<%= searchF.releaseDate %>">
    </div>

    <button type="submit">Search</button>
</form>

<br>
<br>

<!--
    This will allow me to display each author the user has searched for 
    on the page of authors 
-->
<div>
    <% movies.forEach(movie => { %>
        <a href="/movies/<%= movie.id %>">
        <img height="150" width="100" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %>
</div>
