
<h class="title-holder"2>Add Another Movie: </h2>

<!--
    Here we will put our get route to work using form
-->
<form action="/movies" method="POST" >
    <%- include('_form_fields') %>
    <button class="del">
        <a href="/movies">Cancel</a>
    </button>
    
    <button class="btn" type="submit">Create</button>
</form>