.photoG {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.picP {
    float: left;
    width: 30%; 
    margin-right: -1%; 
    box-sizing: border-box;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
}

.picP:last-child {
    margin-right: 0; 
}

.picP img {
    transition: opacity 4s ease-in-out;
    width: 700px;
    position: absolute;
    align-items: center;
    top: 100;
    left: 900;
    opacity: 0;
    margin-right: 1400px;
    height: 550px;
}

.picP img.active {
    opacity: 1;
}

/*clone Version*/
.photoG2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.picP2 {
    float: left;
    width: 30%; 
    margin-right: -1%; 
    box-sizing: border-box;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    margin-left:200px;
}

.picP2:last-child {
    margin-right: 0; 
}

.picP2 img {
    transition: opacity 4s ease-in-out;
    width: 700px;
    position: absolute;
    top: 100;
    left: 900;
    opacity: 0;
    margin-right: 202px;
    height: 550px;
}

.picP2 img.active {
    opacity: 1;
}


/*testing*/

.photoG3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.picP3 {
    float: left;
    width: 30%; 
    margin-right: -1%; 
    box-sizing: border-box;
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 250px;
    margin-left:200px;
}

.picP3:last-child {
    margin-right: 0; 
}

.picP3 img {
    transition: opacity 4s ease-in-out;
    width: 700px;
    position: absolute;
    top: 100;
    opacity: 0;
    margin-left: 1100px;
    height: 550px;
}

.picP3 img.active {
    opacity: 1;
}




.container {
    position: relative;
    text-align: center; 
    justify-content: center; 
    align-items: center;
    padding-top: 500px; 
   
}


.container {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 400px;
    padding: 90px;
    padding-bottom: 90px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}

.container-trend {
    max-width: 100%;
   height: 80%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 90px;
    padding-bottom: 90px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
}
.title-holder {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    
}
.title-holder2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
    
}
p {
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
}
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.movie-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: black;
    transition: transform 0.3s ease-in-out;
}
.movie-item:hover {
    transform: translateY(-18px);
}

.movie-item img {
    width: 70%;
    height: auto;
}


.movie-item3 {
    border-radius: 8px;
    height: auto;
    overflow: hidden;
    box-shadow: 0 9px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
    justify-content: center;
    
}
.movie-item3:hover {
    transform: translateY(-18px);
}

.movie-item3 img {
    width: 50%;
    height: 450px;
}

.movie-grid2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
.movie-item2 {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 640px; 
    height: 300px; 
    object-fit: cover; 

}
.movie-item2:hover {
    transform: translateY(-18px);
}

.movie-item2 img {
    width: 70%;
    height: auto;
    
}

.title-holder,.title-holder2,
.reco {
    color: black; 
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    padding: 2px; 
    border-radius: 5px; 
}


.reco {
    margin-top: 20px; /* Add some spacing between the sections */
    padding-top: 70px;
    padding-bottom: 50px;
}


.ani {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Ensures items wrap if they exceed container width */
    max-width: 1200px; 
    margin: 0 auto; /* Centers the container horizontally */
}

.picContainer {
    position: relative;
   
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
    padding-top: 300px;
    z-index: 9999;

}

.text-overlay {
    
    color: white; 
    font-family: Arial, sans-serif; 
}


#textOverlay1 {
    background-color: rgba(0, 0, 0, 0.04); 
    padding: 20px; 
    border-radius: 8px; 
}



#textOverlay1 h1 {
    margin: 0; 
    font-size: 90px;
    font-style: italic;
    font-family: serif;
    color: white;
    text-decoration: underline;
    
}

#textOverlay1 h3 {
    margin: 0; 
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    font-family: serif;
    color: white;
    text-decoration: underline;

}

#textOverlay1 p {
    margin: 0; 
    font-style: italic;
    font-family: serif;
    font-size: 22px;
}


#textP {
    margin-top: 20px; 
    font-style: oblique;
}


#textB {
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: white; 
    color: black; 
    border-radius: 2px; 
    border-color: black;
    cursor: pointer; 
    width:200px;
    transition:  0.5s ease;
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
    transition: 0.5s ease; 
}


#textB:hover {
    background-color: transparent; 
    color: white;
}

.container-trend h3{
    text-align: center;
}


/*setInterval*/
.custom-gallery {
    width: 100%;
    max-width: 600px;
    
    margin: 50px auto;
    overflow: hidden;
}
.custom-gallery-container {
    display: flex;
    transition: transform 0.5s ease;
}
.custom-gallery-item {
    flex: 0 0 100%;
    max-width: 100%;
    
}


.custom-gallery-container {
    display: flex;
    transition: transform 0.5s ease; 
}

.CAT {
    padding-top: 80px;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif
}



.counter-container {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
    box-sizing: border-box;
    overflow: hidden;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    .counter-container {
        margin: 0;
    }
}



.faq-container {
    max-width: 600px;
    margin: 0 auto;
}

.faq {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px 0;
    padding: 30px; 
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.faq.active {
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px;
}

.faq.active::before,
.faq.active::after {
  content: '\f075';
  font-family: 'Font Awesome 5 Free';
  color: black;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
    color: black;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  }
  
  .faq-title {
    margin: 0 35px 0 0;
  }
  
  .faq-answer {
    display: none;
    margin: 30px 0 0;
    color: black;
    font-size: 30px;
  }
  
  .faq.active .faq-answer {
    display: block;
  }

  .faq-toggle {
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
  }

  .faq-toggle:focus {
    outline: 0;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq.active .faq-toggle .fa-chevron-down {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color: black;
  }
  



