* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.navBar {
    display: flex;
}


.navBar a{
    color: white;
    margin-left: 60px;
    font-size: 17px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navBar a:hover {
    border-bottom:2px solid white;
}


#menu-icon {
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    display: none;
}

.bar {
    width: 100%;
    height: 3px;
    background-color: white;
}

.holder {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}


