<footer class="footer">
    <div class="fcontainer">
        <div class="row">
            <div class="footer-col">
                <h4>Comp</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Payment privacy</a></li>
                    <li><a href="#">ijff</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>help</h4>
                <ul>
                    <li><a href="#">Customer Service </a></li>
                    <li><a href="#">Security</a></li>
                    <li><a href="#">Donation</a></li>
                    <li><a href="#">Tracker</a></li>
                    <li><a href="#">QNA</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>online survey</h4>
                <ul>
                    <li><a href="#">sdsd</a></li>
                    <li><a href="#">sdsd</a></li>
                    <li><a href="#">sdsdd</a></li>
                    <li><a href="#">ddss</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>By: Victor Martinez</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
