
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/public/stylesheets/authorStyle/addDir.css">
    <link rel="stylesheet" href="/public/stylesheets/shared/footer.css">
    <title>Document</title>
</head>
<body>



    <h2 class="title-holder">Add Director <i class="fas fa-user-plus"></i></h2>

    <form action="/authors" method="POST" class="modern-form">
        <div class="form-holder">
            <div class="form-item">
                <label><i class="fas fa-user"></i> Director:</label>
                <input type="text" name="name" value="<%= author.name %>" placeholder="Enter director's name">
            </div>
        </div>
        
        <div class="button-group">
            <button class="btn cancel" type="button"><i class="fas fa-times"></i> Cancel</button>
            <button class="btn submit" type="submit"><i class="fas fa-plus"></i> Add</button>
        </div>
    </form>


    <%- include('footer') %>
    
</body>
</html>