
<h2 class="title-holder">Add Director:</h2>
<!--
    Here we will put our get route to work using form
-->
<form action="/authors" method="POST">

    <div class="form-holder">
        <div class="form-item">
            <label>Director: </label>
            <input type="text" name="name" value="<%= author.name %>">
        </div>
    </div>
    <div class="placeholder">
        <button class="del">
            <a href="/authors">Cancel</a>
        </button>
        
        <button class="btn"type="submit">Add</button>
    </div>
  
</form>