<h2 class="title-holder"><%= author.name %></h2>
<div class="placeholder">
    <%- include('../partials/deleteForm',
{url:`/authors/${author.id}`}) %>

</div>


<% if (moviesByAuthor.length > 0)  {%>
    <h2 class="title-holder">Movies By The Director:</h2>
    <% moviesByAuthor.forEach(movie => { %>
        <a href="/movies/<%= movie.id %>">
        <img height="300" width="200" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %>
<% } %>