<h2 class="title-holder"><%= author.name %></h2>
<%- include('../partials/deleteForm',
{url:`/authors/${author.id}`}) %>

<% if (moviesByAuthor.length > 0)  {%>
    <h2>Movies By The Director:</h2>
    <% moviesByAuthor.forEach(movie => { %>
        <a href="/movies/<%= movie.id %>">
        <img height="150" width="100" src="<%= movie.coverImagePath %>">
        </a>
    <% }) %>
<% } %>